In [24]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import psycopg2
f = pd.read_csv('https://raw.githubusercontent.com/azsxscdvfb/AIM-5001/main/week7/Education.csv', skiprows=4, index_col=['State', 'Area name'],thousands=',')
f

indices = list(range(9,50,8))
less_than_highSchool = f.iloc[:,indices]
indices = list(range(10,51,8))
highSchool_only = f.iloc[:,indices]
indices = list(range(11,52,8))
less_than_4years_college = f.iloc[:, indices]
indices = list(range(12,53,8))
fourYears_college_or_higher = f.iloc[:, indices]
def Sum_series(dfs,arg,n):
    sum = 0
    for i in range(arg,arg+n):
        if(pd.isna(dfs[i])):
            return None
        sum +=int(dfs[i])
    return sum
temp = f.index[0][0]
states = [temp]
for i in f.index:
    if(i[0] != temp):
        temp = i[0]
        states.append(temp)
print(states)
state_total_educated_population = pd.DataFrame(columns = ['State','name','1970','1980','1990','2000','2007-11','2016-20'])
for p in states:
    for idx,row in f.iterrows():
        if(idx[0] == p):
            temp_series = pd.Series([idx[0],idx[1],Sum_series(row,5,4),Sum_series(row,13,4),Sum_series(row,21,4),Sum_series(row,29,4),Sum_series(row,37,4),Sum_series(row,45,4)],
                                    index = ['State','name','1970','1980','1990','2000','2007-11','2016-20'])
            state_total_educated_population.loc[len(state_total_educated_population)] = temp_series
            break
state_total_educated_population
def return_state_data(df):
    r_df = pd.DataFrame(columns = ['State','name','1970','1980','1990','2000','2007-11','2016-20'])
    for p in states:
        for idx,row in df.iterrows():
            if(idx[0] == p):
                State_Series = pd.Series({'State' : idx[0],'name': idx[1]})
                row.index = ['1970','1980','1990','2000','2007-11','2016-20']
                row = pd.concat([State_Series,row])
                r_df.loc[len(r_df)] = row
                break
    return r_df
state_less_than_highSchool = return_state_data(less_than_highSchool)
state_highSchool_only = return_state_data(highSchool_only)
state_less_than_4years_college = return_state_data(less_than_4years_college)
state_fourYears_college_or_higher = return_state_data(fourYears_college_or_higher)

['US', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR']

In [41]:

conn_string = 'postgresql://postgres:603068653@localhost:5432/us1'

conn = psycopg2.connect(conn_string)

conn.autocommit = True

cursor = conn.cursor()
cur = conn.cursor()
for idx,row in state_less_than_highSchool.iterrows():
    temp = list(row[0])
    cur.execute("INSERT INTO less_than_highschool  VALUES (%s, %s, %s, %s, %s, %s, %s)", (temp, row[2], row[3], row[4], row[5], row[6], row[7]))
conn.commit()

conn.close()

In [42]:
conn_string = 'postgresql://postgres:603068653@localhost:5432/us1'

conn = psycopg2.connect(conn_string)

conn.autocommit = True

cursor = conn.cursor()
cur = conn.cursor()
sql1 = '''select * from less_than_highschool;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)

(['1', '2'], 47.7, 33.5, 24.8, 19.6, 14.6, 11.5)
(['U', 'S'], 47.7, 33.5, 24.8, 19.6, 14.6, 11.5)
(['A', 'L'], 58.7, 43.5, 33.1, 24.7, 18.1, 13.1)
(['A', 'K'], 33.3, 17.5, 13.4, 11.7, 8.6, 6.9)
(['A', 'Z'], 41.9, 27.6, 21.3, 19.0, 14.8, 12.1)
(['A', 'R'], 60.1, 44.5, 33.7, 24.7, 17.3, 12.8)
(['C', 'A'], 37.4, 26.5, 23.8, 23.2, 19.2, 16.1)
(['C', 'O'], 36.1, 21.4, 15.6, 13.1, 10.3, 7.9)
(['C', 'T'], 44.0, 29.7, 20.8, 16.0, 11.4, 9.1)
(['D', 'E'], 45.4, 31.4, 22.5, 17.4, 12.6, 9.4)
(['D', 'C'], 44.8, 32.9, 26.9, 22.2, 12.9, 8.1)
(['F', 'L'], 47.4, 33.3, 25.6, 20.1, 14.5, 11.5)
(['G', 'A'], 59.4, 43.6, 29.1, 21.4, 16.0, 12.1)
(['H', 'I'], 38.1, 26.2, 19.9, 15.4, 9.9, 7.5)
(['I', 'D'], 40.5, 26.3, 20.3, 15.3, 11.5, 8.7)
(['I', 'L'], 47.4, 33.5, 23.8, 18.6, 13.4, 10.3)
(['I', 'N'], 47.1, 33.6, 24.4, 17.9, 13.4, 10.7)
(['I', 'A'], 41.0, 28.5, 19.9, 13.9, 9.7, 7.5)
(['K', 'S'], 40.1, 26.7, 18.7, 14.0, 10.5, 8.6)
(['K', 'Y'], 61.5, 46.9, 35.4, 25.9, 18.3, 12.8)
(['L', 'A'], 57.8, 42.3, 31.7, 25.2, 18.4, 14.1)
(['M', 'E'], 45.3, 31.3, 21.2, 14.6, 9.8, 6.8)
(['M', 'D'], 47.7, 32.6, 21.6, 16.2, 11.8, 9.4)
(['M', 'A'], 41.5, 27.8, 20.0, 15.2, 11.1, 8.9)
(['M', 'I'], 47.2, 32.0, 23.2, 16.6, 11.6, 8.7)
(['M', 'N'], 42.4, 26.9, 17.6, 12.1, 8.4, 6.6)
(['M', 'S'], 59.0, 45.2, 35.7, 27.1, 19.7, 14.7)
(['M', 'O'], 51.2, 36.5, 26.1, 18.7, 13.2, 9.4)
(['M', 'T'], 40.8, 25.6, 19.0, 12.8, 8.6, 6.0)
(['N', 'E'], 40.7, 26.6, 18.2, 13.4, 9.7, 8.4)
(['N', 'V'], 34.8, 24.5, 21.2, 19.3, 15.8, 13.1)
(['N', 'H'], 42.4, 27.7, 17.8, 12.6, 8.8, 6.7)
(['N', 'J'], 47.5, 32.6, 23.3, 17.9, 12.4, 9.7)
(['N', 'M'], 44.8, 31.1, 24.9, 21.1, 16.9, 13.5)
(['N', 'Y'], 47.3, 33.7, 25.2, 20.9, 15.4, 12.8)
(['N', 'C'], 61.5, 45.2, 30.0, 21.9, 15.9, 11.5)
(['N', 'D'], 49.7, 33.6, 23.3, 16.1, 10.0, 6.9)
(['O', 'H'], 46.8, 33.0, 24.3, 17.0, 12.2, 9.2)
(['O', 'K'], 48.4, 34.0, 25.4, 19.4, 14.1, 11.4)
(['O', 'R'], 40.0, 24.4, 18.5, 14.9, 11.1, 8.9)
(['P', 'A'], 49.8, 35.3, 25.3, 18.1, 12.1, 9.0)
(['R', 'I'], 53.6, 38.9, 28.0, 22.0, 15.7, 10.8)
(['S', 'C'], 62.2, 46.3, 31.7, 23.7, 16.4, 11.7)
(['S', 'D'], 46.7, 32.1, 22.9, 15.4, 10.2, 7.8)
(['T', 'N'], 58.2, 43.8, 32.9, 24.1, 16.8, 11.8)
(['T', 'X'], 52.6, 37.4, 27.9, 24.3, 19.6, 15.6)
(['U', 'T'], 32.7, 20.0, 14.9, 12.3, 9.4, 7.0)
(['V', 'T'], 42.9, 29.0, 19.2, 13.6, 9.0, 6.5)
(['V', 'A'], 52.2, 37.6, 24.8, 18.5, 13.4, 9.7)
(['W', 'A'], 36.5, 22.4, 16.2, 12.9, 10.2, 8.3)
(['W', 'V'], 58.4, 44.0, 34.0, 24.8, 17.4, 12.4)
(['W', 'I'], 45.5, 30.4, 21.4, 14.9, 10.2, 7.4)
(['W', 'Y'], 37.1, 22.1, 17.0, 12.1, 8.1, 6.4)
(['P', 'R'], nan, 60.5, 50.3, 40.0, 31.4, 22.5)

In [43]:

conn_string = 'postgresql://postgres:603068653@localhost:5432/us1'

conn = psycopg2.connect(conn_string)

conn.autocommit = True

cursor = conn.cursor()
cur = conn.cursor()
for idx,row in state_highSchool_only.iterrows():
    temp = list(row[0])
    cur.execute("INSERT INTO highschool_only  VALUES (%s, %s, %s, %s, %s, %s, %s)", (temp, row[2], row[3], row[4], row[5], row[6], row[7]))
conn.commit()
conn.close()

In [44]:


conn_string = 'postgresql://postgres:603068653@localhost:5432/us1'

conn = psycopg2.connect(conn_string)

conn.autocommit = True

cursor = conn.cursor()
cur = conn.cursor()
for idx,row in state_less_than_4years_college.iterrows():
    temp = list(row[0])
    cur.execute("INSERT INTO less_than_4years_college  VALUES (%s, %s, %s, %s, %s, %s, %s)", (temp, row[2], row[3], row[4], row[5], row[6], row[7]))
conn.commit()
conn.close()

In [46]:


conn_string = 'postgresql://postgres:603068653@localhost:5432/us1'

conn = psycopg2.connect(conn_string)

conn.autocommit = True

cursor = conn.cursor()
cur = conn.cursor()
for idx,row in state_fourYears_college_or_higher.iterrows():
    temp = list(row[0])
    cur.execute("INSERT INTO fouryears_college_or_higher  VALUES (%s, %s, %s, %s, %s, %s, %s)", (temp, row[2], row[3], row[4], row[5], row[6], row[7]))
conn.commit()
conn.close()

In [47]:


conn_string = 'postgresql://postgres:603068653@localhost:5432/us1'

conn = psycopg2.connect(conn_string)

conn.autocommit = True

cursor = conn.cursor()
cur = conn.cursor()
for idx,row in state_total_educated_population.iterrows():
    temp = list(row[0])
    cur.execute("INSERT INTO total_educated_population  VALUES (%s, %s, %s, %s, %s, %s, %s)", (temp, row[2], row[3], row[4], row[5], row[6], row[7]))
conn.commit()
conn.close()

In [49]:


conn_string = 'postgresql://postgres:603068653@localhost:5432/us1'

conn = psycopg2.connect(conn_string)

conn.autocommit = True

cursor = conn.cursor()
cur = conn.cursor()
for idx,row in state_total_educated_population.iterrows():
    temp1 = list(row[0])
    temp2 = list(row[1])
    cur.execute("INSERT INTO state_information  VALUES (%s, %s)", (temp1,temp2))
conn.commit()
conn.close()